#Ignore java class files
*.class

#ignore war,ear package
*.war
*.ear

#ignore build folder

#ignore js dependencies
*/node_modules/
*/bower_components/

#ignore compiled js
heroViewer/app/*.js
heroViewer/app/*.js.map
